In [5]:
import tensorflow as tf
import keras

In [10]:
import pandas as pd
import numpy as np

data_train = pd.read_csv('Data/Mobile_price/train.csv')
data_test = pd.read_csv('Data/Mobile_price/test.csv')
print('Train Shape =', data_train.shape)
print('Test Shape =', data_test.shape)

data_train.info()
data_train.head()

Train Shape = (2000, 21)
Test Shape = (1000, 21)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.2 KB

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [14]:
X = data_train.iloc[:, :20].values
y = data_train.iloc[:, 20:21].values
print('X=\n', X[:1])
print('y=\n', y[:3])

X=
 [[8.420e+02 0.000e+00 2.200e+00 0.000e+00 1.000e+00 0.000e+00 7.000e+00
  6.000e-01 1.880e+02 2.000e+00 2.000e+00 2.000e+01 7.560e+02 2.549e+03
  9.000e+00 7.000e+00 1.900e+01 0.000e+00 0.000e+00 1.000e+00]]
y=
 [[1]
 [2]
 [2]]

In [27]:
# Normalizing the data
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)
print(*X[0], sep='\t')

-0.9025972554689962	-0.9900495037128095	0.8307794171595058	-1.019183979313898	-0.7624946625030505	-1.0439655927422493	-1.3806435313202896	0.34073950535282	1.349248809580778	-1.10197128209058	-1.3057501043508446	-1.408948562899945	-1.1467840342018798	0.3917034064711062	-0.7849832923777195	0.28310280126691467	1.4624933239839084	-1.7868609675630671	-1.0060181084889308	0.9860966422066365